/*---------- BASIC ----------*/
body{
    background-color: white;
}
img {
    max-width: 100%;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    }
.main{
    width: 1600px;
    margin: 0 auto;
}
.container{
    width: 1200px;
    margin: 0 auto;


}
.clearfix{
    clear: both;

}

/*---------- BASIC ----------*/

/*---------- 1 - MENU BBAR ----------*/

.top-menu{
    width: 100%;
}
.top-menu ul{
    margin: 0;
}
.menu-right{
    float: right;
}
.logo-left{
    float: left;
}

.top-menu .menu-right ul li{
    display: inline-block;
}
.top-menu .menu-right ul li a{
    display: block;
    padding: 20px 10px;
    color: #CACACA;
}
.top-menu .menu-right ul li a:hover{
    text-decoration: none;
    color: #1abb9c;
}
.top-menu .logo-left ul li{
    display: inline-block;
    color: #CACACA;
    padding: 13px 10px;
}


/*---------- 1 - MENU BBAR ----------*/

/*---------- 2 - PIC INTRO ----------*/
.pic-intro{
    position: relative;
    background-size: contain;
}
.pic-intro img{
    width: 100%;
    opacity: 0.7;

}
.pic-intro .text-block {
    position: absolute;
    color: white;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    text-align: center;

}
.text-block .name strong {
    background-color: #8F8F8F;
    margin: 10px;
    padding: 5px 30px;
    font-size: 46px;

}
.text-block .name{
    margin-bottom: 14px;
}
.job {
    background-color: #8F8F8F;
    margin: 10px 65px;
    padding: 10px 5px;
    font-size: 26px;

}

.pic-intro .social .fa {
    padding: 15px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background-color: #8F8F8F;
}
.pic-intro .text-block a{
    text-decoration: none;
    color: white;
}
/*---------- 2 - PIC INTRO ----------*/

/*---------- 3 - ALL GREEN BAR ----------*/
.green-bar{
    background-color: #1BBC9B;
    color: white;
    padding: 20px 20px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #1BBC9B;
    margin-left: 307px;
    float: left;
}
.green-bar h3{
    margin-bottom: 0;
}

/*---------- 3 - ALL GREEN BAR ----------*/

/*---------- 4 - KYTE INTRO ----------*/
.kyte-pic{
    border-radius: 50%;
}

 .left{
    width: 28%;
    float: left;
    padding-top: 50px ;
}
 .right{
    width: 70%;
    float: right;
    padding-top: 100px;
    padding-left: 20px;
    margin-left: 2% ;
 }
.intro-top .right .titr{
    font-size: 25px;
    line-height: 40px;
}
.intro-top .right .passage{
    line-height: 30px;
    text-align: justify;
}
.intro-bottom{
    margin-top: 40px;

}
.intro-bottom p{
    margin-top: 15px;
    line-height: 30px;
    text-align: justify;
}
.intro-bottom .first {
    width: 30%;
    float: left;
    margin-right: 5%;
}
.intro-bottom .second{
    width: 30%;
    float: left;
    margin-right: 5%;
}
.intro-bottom .third {
    width: 30%;
    float: left;
}
     /*BUTTON*/
.intro-button {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;

}
 .btn-primary {
     background-color: #3F8DBE;
     -webkit-box-shadow: 0 10px 5px 0 rgba(55,119,163,1);
     -moz-box-shadow: 0 10px 5px 0 rgba(55,119,163,1);
     box-shadow: 0 10px 5px 0 rgba(55,119,163,1);
     padding: 10px 27px;


 }

.button {
    position: absolute;
    top: 50%;

}
/*---------- 4 - KYTE INTRO ----------*/


/*---------- 5 - SECOND GREEN BAR ----------*/

/*---------- 5 - SECOND GREEN BAR ----------*/

/*---------- 6 - SLIDER PORTFOLIO ----------*/
.frame-slider{
    background-color: #333333;
}
.frame-slider {
    color: white;
}
.frame-slider p{
    margin-bottom: 0;
}
.frame-slider h3{
    padding-top: 77px;
}
.slider, .slider-2{
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
}
.slider ul, .slider-2 ul{
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
}
.slider ul li, .slider-2 ul li{
    position: relative;
    display: block;
    float: left;
    margin-right: 30px;
    padding: 0;
    width: 500px;
    height: 500px;
    background-color: #333333;
}
.slider ul li img, .slider-2 ul li img{
    display: block;
    max-height:500px;
    max-width:500px;
    width: 500px;
    height: 500px;
}
a.control-next,
a.control-pre,
a.control-next-2,
a.control-pre-2
{
    position: absolute;
    z-index: 999;
    display: block;
    padding: 2% 2%;
    width: auto;
    height: auto;
    background-color: #B3B3B3;
    color: #FFFFFF;
    font-size: 50px;
    opacity: 0.4;
    cursor: pointer;
}
a.control-next:hover,
a.control-pre:hover,
a.control-next-2:hover,
a.control-pre-2:hover
{
    opacity: 1;
    -webkit-transition: all ease 0.3s;
}
a.control-next, a.control-next-2 {
    right: 0;

}
/*---------- 6 - SLIDER PORTFOLIO ----------*/

/*---------- 7 - THIRD GREEN BAR ----------*/

/*---------- 7 - THIRD GREEN BAR ----------*/

/*---------- 8 - BLOG POSTS ----------*/
.blog {
    background-color: #F0F0F0;

}
.blog .post{
    width: 50%;
    float: left;
    padding: 15px;

}
.blog .post img {
    width: 560px;
    height: 280px;
}
.blog .date-like{
    background-color: #F9F9F9 ;
    padding: 15px;
}
.blog .date-like .like i{
    color: red;
}
.blog .date-like .date{
    float: left;
}
.blog .date-like .like{
    float: right;
}
/*---------- 8 - BLOG POSTS ----------*/

/*---------- 9 - FORTH GREEN BAR ----------*/

/*---------- 9 - FORTH GREEN BAR ----------*/

/*---------- 10 - FORM SECTION ----------*/
.touch{
    background-image: url("../img/Form-background.png");


}
.touch  ul{
    list-style-type: none;
}
.form{
    float: left;
    margin-top: 80px;
    margin-bottom: 70px;
}
.form .user-info i{
    margin-right: 10px;
}
.form .user-info input{
    display: block;
    margin-bottom: 20px;
    padding: 20px 10px;
    width: 500px;
    height: 50px;
    background-color: rgba(89,89,89,0.4);
    border: none;
    color: white;
}
::placeholder{
    color: #A0A0A0;
}
.form .user-info textarea{
    margin-bottom: 20px;
    padding: 20px 10px;
    width: 500px;
    height: 200px;
    border: none;
    background-color: rgba(89,89,89,0.4);
    color: white;
}
.form .user-info button{
    display: block;

}
.details {
    float: right;
    color: white;
    margin-top: 80px;
}
details ul li p .fa{
    background-color: transparent;
    color: white;
    font-size: 16px;
}
.details ul li p i{
    margin-right: 13px;
}
/*---------- 10 - FORM SECTION ----------*/

/*---------- 11 - FOOTER  ----------*/
.footer{
    text-align: center;
    margin-top: 50px;
}
.copyright{
    color: #656565;
}
.footer .social .fa {
    padding: 15px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background-color: transparent;
    color: #B3B3B3;
}
/*---------- 11 - FOOTER  ----------*/
